[campaign]
    id=Slavenska
    name=  "Slavenska Kronika"
    abbrev= _ "SK"
    first_scenario=01_dubrovnik
    define=SLAVENSKA_KRONIKA
    icon="icons/campaign_icon.png"
    image="portraits/kraljevic-marko.png"
    difficulties=EASY
    difficultydescriptions=  "Easy"
    description="Kada se iz vedra neba u Dubrovniku probudi zlo, Kraljević Marko kreće u obranu. Područje koje zahvaća tragedija nije samo Dubrovnik nego i cijela Hrvatska. Sa svojim novim ciljem Marko kreće u avanturu za budućnost Hrvatske da je obrani od mitoloških bića 

" + _"(Početna razina, 6 scenarija)"
[/campaign]

[binary_path]
    path=data/add-ons/kronika/
[/binary_path]

#ifdef SLAVENSKA_KRONIKA
[units]
    {~add-ons/kronika/units}
[/units]

{~add-ons/kronika/scenarios}
#endif 
